{% extends 'base.html.twig' %}

{% block title %}
    EURO 2016
{% endblock %}

{% block body %}
    <h1>EURO 2016</h1>
    <table>
        <tr>
        <th>#</th>
        <th>Country</th>
        <th>Group</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="{{ path("euro_show_team", {'team': 1}) }}">
                    <img src="{{ asset('bundles/framework/images/Flag_of_Spain.svg') }}" width="25"> Spain</a></td>
            <td>C</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="{{ path("euro_show_team", {'team': 2}) }}">
                    <img src="{{ asset('bundles/framework/images/Flag_of_Slovakia.svg') }}" width="25">Slovakia</a></td>
            <td>C</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="{{ path("euro_show_team", {'team': 3}) }}">
                    <img src="{{ asset('bundles/framework/images/Flag_of_Ukraine.svg') }}" width="25">Ukraine</a></td>
            <td>C</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="{{ path("euro_show_team", {'team': 4}) }}">
                    <img src="{{ asset('bundles/framework/images/Flag_of_Belarus.svg') }}" width="25">Belarus</a></td>
            <td>C</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="{{ path("euro_show_team", {'team': 5}) }}">
                    <img src="{{ asset('bundles/framework/images/Flag_of_Macedonia.svg') }}" width="25">Macedonia</a></td>
            <td>C</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="{{ path("euro_show_team", {'team': 6}) }}">
                    <img src="{{ asset('bundles/framework/images/Flag_of_Luxembourg.svg') }}" width="25">Luxembourg</a></td>
            <td>C</td>
        </tr>
    </table>

{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #85ffbd;
            font: 18px/1.5 sans-serif;
        }
        table, th,tr,td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
{% endblock %}

