{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="jumbotron">
            <table class="table table-striped">
                <th>#</th>
                <th>Team</th>
                <th>Group</th>
                {% for i in 0..10 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('euro_show_team', {'team': i}) }}">{{ teams.country[i] }}</a></td>
                        <td>{{ teams.groups[i] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div> <!-- /container -->


{% endblock %}


