<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}EURO 2016{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <style>
        #lastnamebox {
            position: absolute;
            display: none;
            width: 180px;
            margin-top: 2px;
            border: 1px solid black;
            background: #F1F1F1;
        }
        #lastnamebox a:link,
        #lastnamebox a:visited {
            display: block;
            padding: 5px 0 5px 15px;
            color: #000000;
            font-size: 12px;
        }
        #lastnamebox a:hover {
            text-decoration: none;
            background: #FAFAFA;
            color: #666666;
        }
    </style>
</head>
<body onLoad="lnbox.init()">
{% block body %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.uefa.com/uefaeuro/season=2016/matches/day=1/index.html">EURO
                    2016</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('game_show_paginator') }}">Show All Game</a></li>
                    <li><a href="{{ url('about') }}">About me</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('show_admin') }}">Admin Page</a></li>
                            <li><a href="{{ path('game_insert_admin') }}">Insert Games</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Your choice</li>
                            <li><a href="#">Log In</a></li>
                            <li><a href="#">Quit</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search" action="{{ path('search_show') }}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" id="lastnameinput" name="data">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div id="lastnamebox"></div>

    {% block content %}

    {% endblock content %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
   {# <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
     <script>
        var lnbox = {
            // Ссылка на DOM элемент поля ввода
            lninput: null,
            // Ссылка на DOM элемент всплывающего div'а
            lnelement: null,

            // Массив полученных фамилий
            lastnames: new Array(),

            // Объект XmlHttpRequest, для передачи данных (ajax)
            httpreq: window.XMLHttpRequest ?
                    new XMLHttpRequest() :
                    new ActiveXObject("Microsoft.XMLHTTP"),


            // Функция инициализации (выполняется по загрузке body)
            init: function() {
                // Устанавливаем ссылку на форму ввода
                this.lnelement = document.getElementById('lastnamebox');

                // Устанавливаем ссылку на вслывающий div
                this.lninput   = document.getElementById('lastnameinput');

                // Устанавливаем обработчик событий нажатой (точнее отпущенной)
                // клавиши на форму ввода
                this.lninput.onkeyup = function(e) {
                    lnbox.process(e);
                }

                // Устанавливаем обработчик ответа сервера
                this.httpreq.onreadystatechange = function() {
                    if (lnbox.httpreq.readyState == 4)
                        lnbox.updateBox(lnbox.httpreq.responseText);
                }
            },


            // Функция запроса на сервер, параметр text - текст из поля ввода
            requestUpdate: function(text) {
                // Посылаем методом GET
        //        var url = Routing.generate('search_show_ajax', {data : text});

          //      $.post(url, text);
                this.httpreq.open("POST", Routing.generate('search_show_ajax', {'data' : text}));
                this.httpreq.send(null);
            },


            // Функция обновления div'а с фамилиями, вызывается при ответе
            // с сервера, т.е обработчик ответа
            updateBox: function(answer) {
                // Полученный ответ парсим в js массив (подробнее читай JSON)
                this.lastnames = eval(answer);

                // Если пустой ответ - выходим из функции
                if(this.lastnames.length <= 0) return false;

                // Показываем div
                this.lnelement.style.display = 'block';

                // Отчищаем элемент от содержания
                this.lnelement.innerHTML = "";

                // Проходим циклом по массиву фамилий
                for(var i = 0; i < this.lastnames.length; i++)
                {
                    // Создаем элемент - тег <a>
                    var lnk = document.createElement('a');

                    // Ставим заглушку в качестве ссылки
                    lnk.href = "javascript://";

                    // Устанавливаем содержанием текущую фамилию
                    lnk.innerHTML = this.lastnames[i];

                    // Ставим событие при щелчке на ссылку изменяется
                    // текст в форме ввода
                    lnk.onclick = function() {
                        lnbox.lninput.value = this.innerHTML;

                        // Прячем div
                        lnbox.lnelement.innerHTML = '';
                        lnbox.lnelement.style.display = 'none';
                    }

                    // Присоединяем элемент к div'у с ссылками
                    this.lnelement.appendChild(lnk);
                }
            },


            // Функция обработки события нажания (точнее отпускания) клавиши
            // на поле ввода
            process: function(event) {
                var key = window.event ? window.event.keyCode : (event.keyCode ? event.keyCode : (event.which ? event.which : null))

                // Если введено меньше 2х символов не обрабатываем
                if(this.lninput.value.length > 2)
                    this.requestUpdate(this.lninput.value);
            }
        }
    </script>#}
{% endblock %}
</body>
</html>
