{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="jumbotron">
            <p>
                Player:  {{ players.firstName[0] }} {{ players.lastName[0] }}
            </p>
            <p>
                Birth Day: {{ players.birthDay[0]|date('d-m-Y') }}
            </p>
            <p>
                {{ players.biography[0] }}
            </p>
        </div>
    </div> <!-- /container -->

{% endblock %}

