{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            <h2>
                Remove Elements Team
            </h2>
            <table class="table table-striped">
                <th>Element</th>
                <th>Role</th>
                <th>Delete</th>
                {% for team in teams %}
                        <tr>
                            <td>{{ team.countries.fullTitle }}</td>
                            <td>Description country</td>
                            <td><a onclick="return confirm('Are you shure?') ? true : false;" href="{{ path('country_delete_admin', {'id' : team.countries.id}) }}">
                                    <i style="width:auto; font-size:2em; line-height:1em; height:auto"
                                       class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    {% for coach in team.coaches  %}
                        <tr>
                            <td>{{ coach.firstName }} {{ coach.lastName }}</td>
                            <td>Coach</td>
                            <td><a onclick="return confirm('Are you shure?') ? true : false;" href="{{ path('coach_delete_admin', {'id' : coach.id}) }}">
                                    <i style="width:auto; font-size:2em; line-height:1em; height:auto"
                                       class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    {% for player in team.players %}
                        <tr>
                            <td>{{ player.firstName }} {{ player.lastName }}</td>
                            <td>Player</td>
                            <td><a onclick="return confirm('Are you shure?') ? true : false;" href="{{ path('player_delete_admin', {'id' : player.id}) }}">
                                    <i style="width:auto; font-size:2em; line-height:1em; height:auto"
                                       class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div> <!-- /container -->


{% endblock %}


