{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ flash_message }}</strong>
                </div>
            {% endfor %}
            <h2>
                Insert Coach
            </h2>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    {{ form_start(form) }}
                    <div class="error-handling">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="error-handling">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="error-handling">
                        {{ form_label(form.birthDay) }}
                        {{ form_widget(form.birthDay) }}
                        {{ form_errors(form.birthDay) }}
                    </div>
                    <div class="error-handling">
                        {{ form_label(form.biography) }}
                        {{ form_widget(form.biography) }}
                        {{ form_errors(form.biography) }}
                    </div>
                    <br>
                    <input type="submit" VALUE="Save" class="btn btn-large btn-primary">
                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div> <!-- /container -->


{% endblock %}


