{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            <h2>
                Remove and Update
            </h2>
            <table class="table table-striped">
                <th>Team</th>

                <th>Delete</th>
                <th>Update</th>
                <div class="col-lg-12">

                </div>
                {% for team in teams %}
                    <tr>
                        <td><a href="{{ path('elements_delete_admin', {'id' : team.id}) }}">{{ team.country }}</a></td>
                        <td>
                            {{ form_start(form[team.id], {attr : {onsubmit: 'return confirm("Do you really want to delete?");' }}) }}
                            {{ form_widget(form[team.id]) }}
                            {{ form_end(form[team.id]) }}
                        </td>
                        <td><a href="{{ path('team_update_admin', {'id' : team.id}) }}">
                                <i style="width:auto; font-size:2em; line-height:1em; height:auto"
                                   class="glyphicon glyphicon-pencil"></i></a></td>


                    </tr>
                {% endfor %}
            </table>
        </div>
    </div> <!-- /container -->


{% endblock %}


