{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-warning alert-dismissable">
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                         <strong>{{ flash_message }}</strong>
                     </div>
            {% endfor %}
            <h2>
                Admin panel
            </h2>
            <table class="table table-striped">
                <th>#</th>
                <th>Team</th>
                <th>Add country</th>
                <th>Add players</th>
                <th>Add coach</th>
                {% for team in teams %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('team_show', {'id': team.id}) }}">{{ team.country }}</a></td>
                        <td><a class="btn btn-large btn-primary" href="{{ path('country_insert_admin', {'id' : team.id}) }}">Add country</a></td>
                        <td><a class="btn btn-large btn-primary" href="{{ path('player_insert_admin', {'id' : team.id}) }}">Add players</a></td>
                        <td><a class="btn btn-large btn-primary" href="{{ path('coach_insert_admin', {'id' : team.id}) }}">Add coach</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div> <!-- /container -->


{% endblock %}


