{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h2>
                View info team
            </h2>
            {% for country in countries %}
            <p>
                Country: <a href="{{ path('country_show', {'id': country.id }) }}"> {{ country.fullTitle }} </a>
            </p>
            {% endfor %}
            {% for coach in coaches %}
            <p>
                Coach:  <a href="{{ path('coach_show', {'id' : coach.id }) }}"> {{ coach.firstName }} {{ coach.lastName }} </a>
            </p>
            {% endfor %}

            <table class="table table-striped">
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                {% for player in players %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('player_show', {'id': player.id }) }}">{{ player.firstName }}</a></td>
                        <td><a href="{{ path('player_show', {'id': player.id}) }}">{{ player.lastName }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-lg btn-primary" href="{{ path('game_show_id', {'id' : games }) }}" role="button">Views mathes &raquo;</a>
        </div>
    </div> <!-- /container -->

{% endblock %}

