{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <table class="table table-striped">
                <th>#</th>
                <th>Team</th>
                <th>Group</th>
                <th>Count</th>
                <th>Win</th>
                <th>Draw</th>
                <th>Defeat</th>
                <th>Points</th>
                {% for team in teams %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('team_show', {'id': team.id}) }}">{{ team.country }}</a></td>
                        <td><strong>{{ team.groups }}</strong></td>
                        <td>{{ team.results.countGame }}</td>
                        <td>{{ team.results.winGame }}</td>
                        <td>{{ team.results.drawGame }}</td>
                        <td>{{ team.results.defeatGame }}</td>
                        <td>{{ team.results.points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div> <!-- /container -->


{% endblock %}


